In [1]:
import pandas as pd
import numpy as np

In [7]:
cars1=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

In [9]:
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [18]:
cars1=cars1.drop(cars1.ix[:,'Unnamed: 9':'Unnamed: 13'].columns,axis=1)
cars1

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [21]:
[cars1.shape,cars2.size]

[(198, 9), 1800]

In [24]:
car=pd.concat([cars1,cars2])
car.shape

(398, 9)

In [25]:
rand=nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
rand

array([71009, 17437, 47464, 68064, 49463, 43242, 68579, 48945, 28049,
       69143, 64116, 25910, 40843, 40805, 47354, 46472, 28308, 61893,
       43701, 21061, 31272, 23972, 27202, 58841, 47256, 47346, 72068,
       42191, 28995, 35416, 45711, 63270, 15685, 27812, 29918, 40517,
       55609, 37695, 59723, 19930, 38871, 67871, 57052, 60795, 44985,
       63956, 62275, 56982, 59294, 48346, 30223, 36553, 72834, 29189,
       64163, 22280, 28827, 23422, 35770, 46531, 66238, 39771, 24494,
       44893, 22469, 30694, 21610, 59843, 26291, 65208, 45773, 20614,
       51783, 28823, 32087, 47192, 42916, 69521, 21393, 51678, 59016,
       69580, 55503, 60643, 48838, 58763, 68663, 60881, 16335, 50330,
       63765, 69197, 35470, 15802, 55566, 32071, 35445, 31522, 54866,
       67719, 20084, 61840, 52403, 55881, 48155, 20376, 18043, 28980,
       46526, 33916, 66820, 53096, 20737, 27429, 20259, 28738, 15583,
       56994, 19541, 42094, 31435, 17244, 22842, 24115, 51067, 21683,
       18718, 70146, 41402, 24117, 57265, 41718, 31803, 51015, 28466,
       25976, 59343, 38801, 68037, 72102, 37388, 68315, 16979, 66594,
       20176, 26802, 63475, 55368, 64671, 55294, 38409, 20578, 28921,
       19207, 71769, 30425, 53476, 27427, 34381, 62420, 33351, 43074,
       19443, 30659, 36348, 50113, 36168, 17833, 35243, 15512, 35663,
       40221, 47697, 71037, 21439, 49137, 33542, 34428, 62758, 31904,
       26419, 32290, 39650, 58495, 39704, 46142, 36407, 59145, 17051,
       18186, 50094, 23711, 63586, 72810, 56544, 23424, 63946, 60120,
       50388, 22866, 59439, 55385, 46944, 62158, 28995, 27684, 29576,
       40700, 53996, 60331, 54073, 50588, 70017, 40882, 51541, 68540,
       64148, 59938, 66755, 51135, 61975, 56056, 51032, 46943, 38448,
       43330, 39634, 16336, 25375, 43463, 56908, 60491, 50931, 57425,
       52117, 69748, 33502, 62720, 63179, 20834, 62492, 50599, 72070,
       61979, 50449, 67876, 30687, 23973, 20712, 17777, 43349, 64648,
       36400, 17835, 28925, 32772, 50466, 22050, 20583, 69785, 37736,
       57119, 15318, 64697, 30131, 39281, 52200, 27522, 55356, 69717,
       42474, 46964, 45598, 69464, 32733, 55813, 55697, 61890, 44013,
       19342, 18516, 62132, 66487, 67863, 48246, 54791, 47590, 62688,
       16432, 54280, 30332, 55256, 23966, 66571, 50663, 32452, 60219,
       33129, 72064, 71471, 36217, 66079, 23712, 50097, 18222, 66948,
       45622, 19152, 22537, 21368, 16284, 24864, 25701, 29160, 45612,
       66801, 58997, 28643, 26861, 45334, 49909, 34789, 52646, 70596,
       72320, 70601, 61504, 22786, 40923, 56890, 18012, 52425, 34067,
       47472, 27739, 38120, 56070, 16662, 44195, 49890, 51344, 62280,
       25973, 44115, 65640, 46547, 16696, 30906, 43666, 27244, 46341,
       44117, 23273, 46363, 43845, 18510, 26003, 19835, 71837, 57643,
       71667, 19253, 55314, 21492, 71580, 66590, 16151, 47796, 48479,
       15419, 23383, 22174, 21398, 35837, 47355, 16264, 62147, 24504,
       54744, 66732, 66611, 58411, 45999, 31660, 68351, 69974, 24928,
       51536, 57862, 52189, 18102, 21979, 33099, 55859, 31931, 72754,
       51341, 54834])

In [27]:
car['owners']=rand

In [28]:
car

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,71009
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,17437
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,47464
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,68064
4,17.0,8,302,140,3449,10.5,70,1,ford torino,49463
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,55859
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,31931
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,72754
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,51341
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,54834